main {
  background-color: rgb(115, 162, 163);
  width: 100%;
}

.photoPart {
  padding-top: 2rem;
  text-align: center;
  background: linear-gradient(to right, rgb(115, 162, 163), rgb(62, 123, 125));


  .textPhoto {
    font-family: Poppins, sans-serif;
    
    p {
      font-size: 1.5rem;
      padding: 1.5rem;
    }

    h1 {
      font-size: 4rem;
      display: flex;
      justify-content: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgb(45, 90, 92);
      text-shadow: 0 2px 5px rgb(79, 214, 216);
    }
  }

  .picPhoto {
    width: 100%;
    height: 35rem;
    text-align: center;

    .myPhoto {
      background-image: url(../img/11erplanoEnd.png);
      height: 100%;
      display: flex;
      // justify-content: center;
      // background-position: center center;
      background-repeat: no-repeat;
      // background-size:cover;
      background-size: contain;
      object-fit: cover;
      background-position: center center;
      border-radius: 2rem;
    }
  }
}


//desk
// @media screen and (min-width:768px) {
//   .photoPart {
//     margin-top: -2rem;
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//     height: 100%;

//     .textPhoto {
//       width: 50%;
//       height: 35rem;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       background-color: rgb(115, 162, 163);

//       p {
//         padding: 5rem;
//       }

//     }

//     .picPhoto {
//       width: 50%;
//     }
//   }
// }